body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}
.header {
    padding: 0.2px;
    margin: auto;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    color: white;
    font-family: "McLaren", cursive;
    background-color: #f5ba13
}
.keeper{
    font-weight: 500;
    font-size: 2em;
    margin-left: 40px;
}
.text{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 0px 1px 16px 10px;
    width: 240px;
    margin: 19px 50px;
    line-height: 4px;
    float: left;
    text-align: start;
    font-size: 0.9em;
}
.text-header{
    font-size: 1.5em;
    margin-bottom: 6px;
    font-weight: bold;
}
.text-parag{
    font-size: 1.5em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word; 
}
.copyright{
    position: relative;
    bottom: -450px;
    right: 0px;
    word-wrap: break-word;
    font-size: 1.2em;
    color: #ccc;
}
@media screen and  (max-width: 400px) {
    body{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    .copyright{
        position: absolute;
        bottom: 0px;
        right: 80px;
        word-wrap: break-word;
        font-size: 1.2em;
        color: #ccc;
    }
    .text{
        margin-left: 35px;
    }
}